<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
    <title>BUSSINESS SITE</title>
</head>
<body>
    {{>navbar}}
{{!-- hero section start  --}}
  <div class="container-fluid mt-5">
      <div class="row">
         <div class="col-md-10 col-12 mx-auto">

            <div class="row">
    
         <div class="col-md-6 col-12 mx-auto hero-text order-md-0 order-1 d-flex 
         justify-content-center align-item-start flex-column ">
           <h1>hey their</h1>
          <h1>Grow your KNOWledge</h1>
          <p>Welcome to The Mern Stack <span class="bold-style">Devlopment with Anil</span></p>
         
           <a class="btn btn-primary btn-style mb-4" href="about " role="button">About</a>
         </div>
          <div class="col-md-6 col-12 mx-auto hero-text order-md-1 order-0 d-flex justify-content-center
                         algin-item-start   ">    
            <figure>
            <img src ="images/anil2.jpg" alt="hero-text">
             </figure>
         </div>
         </div>
      </div>
  </div>
  </div>
</body>
</html>