<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>BUSSINESS SITE</title>
</head>
<body>
    {{>navbar}}

  <div class="container-fluid mt-2 service-style" >
  <div class="row">
         <div class="col-md-10 col-12 mx-auto  ">
         <h1 class="text-center main-heading">Our Services</h1>
         <p class="text-center main-heading">working for web Devlopment</p>
      
      </div>

      <div class="card-deck mt-3 col-md-10 mx-auto">
  <div class="card  speedup">
    <img class="card-img-top" src="images/anil2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CARD TITLE</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural 
          -in to additional content. This content is a little bit longer.</p>
    
    </div>
  </div>
  <div class="card settings" >
    <img class="card-img-top" src="images/anil2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CARD TITLE</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      
    </div>
  </div>
  <div class="card privacy">
    <img class="card-img-top" src="images/anil2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CARD TITLE</h5>
      <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
     
    </div>
  </div>
  
</div>


      <div class="card-deck mt-5 col-md-10 mx-auto">
  <div class="card backups">
    <img class="card-img-top" src="images/anil2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CARD TITLE</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural 
          -in to additional content. This content is a little bit longer.</p>
    
    </div>
  </div>
  <div class="card ssl" >
    <img class="card-img-top" src="images/anil2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CARD TITLE</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      
    </div>
  </div>
  <div class="card ssp">
    <img class="card-img-top" src="images/anil2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CARD TITLE</h5>
      <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
     
    </div>
  </div>
  
</div>
  </div>
  </div>
</body>
</html>